*{
    margin: auto;
    padding: auto;
}
body{
    background-color: #e2e2de;
    font-family: 'Raleway';
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
nav,h3,h2,label{
    text-transform: uppercase;
}

/* header */

header{
    background-color: white;
    display: flex;
    height: 60px;
}
.navlogo{
    margin-left: 40px;
}
header ul li{
    font-weight: bolder;
    font-size: 15px;
}
header ul{
    display: flex;
}
nav{
    width: 80%;
    margin-left: 0;
    margin-right: 13%;
}

/*main banniere*/

.center{
    background-image: url(main_pic-100.jpg);
    background-size: cover;
    color: white;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerLogo{
    margin-bottom: 0px;
}

.center div{
    margin-top: 15px;
    letter-spacing: 8px;
    display: flex;
}

.center div h3{
    margin-left: 30px;
    margin-right:20px;
}

/*welcome banniere */

.welcomeDiv{
    background-color: white;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomeDiv h2{
    font-size: 46px;
    font-weight: 800; 
    margin-bottom: 0px;
}
.welcomeDiv p{
    width: 90%;
    font-size: 18px;
    line-height: 35px;
    margin-top: 25px;
}

.mapdiv{
    background-image: url(map_pic-100.jpg);
}

